* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #00E1FD, #FC007A);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #E6E6FA;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h1 {
    background-color: #E6E6FA;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #9c0f56;
    text-align: center;
}

.todo-app h1 img {
    width: 50px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ef9ac4;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d07b8a;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#clearAllBtn {
    background-color:#ef9ac4;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clearAllBtn:hover {
    background-color: #d07b8a;
}

#taskCount {
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #f0f0f0;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/squaree.png);
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 12px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
    background-color: #e0e0e0;
}

ul li.checked::before {
    background-image: url(images/ckeck.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li span:hover {
    background-color: #edeefe;
}

ul li span:active {
    background-color: #d4d4d4;
}
